$grey-light: #C4C4C4;
$text: #333333;
$primary: #1E4D68;
$success: #299F7C;

@import'../../../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import'../../../../node_modules/bulma/sass/utilities/functions.sass';
@import'../../../../node_modules/bulma/sass/utilities/derived-variables.sass';